<%- include('partials/header') %>

    <section id="faq">
        <h1 class="faq-title">FAQs</h1>

        <div class="faq-contents">
            <div class="questions">
                <h3>What is a real estate agent?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="#3a0ca3" stroke-width="7" stroke-linecap="round" fill="white" />
                </svg>
            </div>

            <div class="answer">
                <p>
                    A real estate agent is a licensed professional who assists buyers, sellers, and renters in real estate transactions. Agents can represent either the buyer or the seller and are knowledgeable about market conditions, property values, and legal requirements.
                </p>
            </div>
        </div>

        <div class="faq-contents">
            <div class="questions">
                <h3>How do I choose the right real estate agent?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="#3a0ca3" stroke-width="7" stroke-linecap="round" fill="white" />
                </svg>
            </div>

            <div class="answer">
                <p>
                    Look for an agent with local market knowledge, strong communication skills, positive reviews, and a proven track record. It’s also important to find someone you feel comfortable working with.
                </p>
            </div>
        </div>

        <div class="faq-contents">
            <div class="questions">
                <h3>What are closing costs?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="#3a0ca3" stroke-width="7" stroke-linecap="round" fill="white" />
                </svg>
            </div>

            <div class="answer">
                <p>
                    Closing costs are fees associated with finalizing a real estate transaction, including loan origination fees, title insurance, appraisal fees, and legal fees. They typically range from 2% to 5% of the purchase price.
                </p>
            </div>
        </div>
    </section>

<%- include('partials/footer') %>