<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

    <div class="container">
        <div class="logo">
            <img src="/assets/logo.png" alt="">
        </div>

        <div class="writeup-log">
            <h1>Choose your account type</h1>
            <p>We will streamline your experience accordingly.</p>
        </div>

        <div class="select-log">
            <a href="/signup" class="client-link">
                <div class="client-log">
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 553.01 542.85"><path d="M359.15,240.93s-18.93-65.7,40.17-75.74c0,0,40.17-8.9,64.85,12.34s12.33,63.4,12.33,63.4,15.21,2.87,10.05,26.4c0,0-2.87,21.52-14.92,25.25a91,91,0,0,1-13.39,27.33,44.83,44.83,0,0,0-7.49,15c-1.49,5.51-2.11,12.15.6,17.95a14.42,14.42,0,0,0,9,7.56l67.62,20.77c.59.18,1.19.33,1.79.48,2.72.65,12.27,3.78,12.77,15.34.52,12.19,6,55.12,7,63.23a7.26,7.26,0,0,1-1.23,5.23c-1.4,1.91-4.19,3.7-9.79,3.27H292s-7.74-2.3-5.73-13.77c1.65-9.45,5.44-46.49,6.73-59.31a17.23,17.23,0,0,1,8.31-13.35,17.7,17.7,0,0,1,7.05-2.23l61.4-17.5S383,360,385.26,347.1a32.85,32.85,0,0,0-8.6-27s-7.75-8.6-12.92-27c0,0-18.07-4.87-14.34-41.89C349.4,251.26,350.55,241.51,359.15,240.93Z"/><path d="M76.65,240.93s-18.93-65.7,40.17-75.74c0,0,40.17-8.9,64.85,12.34S194,240.93,194,240.93s15.21,2.87,10.05,26.4c0,0-2.87,21.52-14.92,25.25a91,91,0,0,1-13.39,27.33,44.83,44.83,0,0,0-7.49,15c-1.49,5.51-2.11,12.15.6,17.95a14.42,14.42,0,0,0,9,7.56l67.61,20.77c.59.18,1.19.33,1.79.48,2.72.65,12.27,3.78,12.77,15.34.52,12.19,6,55.12,7,63.23a7.26,7.26,0,0,1-1.23,5.23c-1.4,1.91-4.19,3.7-9.79,3.27H9.51S1.77,466.45,3.78,455c1.65-9.45,5.44-46.49,6.73-59.31a17.23,17.23,0,0,1,8.31-13.35,17.7,17.7,0,0,1,7.05-2.23l61.4-17.5s13.2-2.58,15.49-15.49a32.85,32.85,0,0,0-8.6-27s-7.75-8.6-12.92-27c0,0-18.07-4.87-14.34-41.89C66.9,251.26,68.05,241.51,76.65,240.93Z"/><path d="M216.48,194c4.36,8.24,10.24,9.84,10.24,9.84,5.16,18.37,12.91,27,12.91,27a32.81,32.81,0,0,1,8.61,27c-2.3,12.91-15.49,15.5-15.49,15.5l-6.55,1.86a11.74,11.74,0,0,0-6.66,5,19,19,0,0,1-5.6,6,11.7,11.7,0,0,0-4.57,5.92,90,90,0,0,1-12.28,23.32,40.59,40.59,0,0,0-5.68,10c-2.33,6.12-4.44,15.18-.78,22.76a14.21,14.21,0,0,0,8.72,7.29c11.8,3.62,56.12,16.79,69.32,21.14a33,33,0,0,0,8.8,1.64l6.18.3a8.49,8.49,0,0,0,4.55-1.08l.12-.07a17.52,17.52,0,0,1,6-2.1,26.15,26.15,0,0,0,3.15-.73l59.28-16.9S370,355,372.26,342.1a32.85,32.85,0,0,0-8.6-27s-6.55-7.27-11.62-22.71a11.25,11.25,0,0,0-4.41-5.83,21.73,21.73,0,0,1-6.55-7.21,10.05,10.05,0,0,0-5.76-4.55l-12.14-3.73a14.47,14.47,0,0,1-9.1-8.06c-3.12-7.32-1.17-15.84,1-21.76A41.31,41.31,0,0,1,320.89,231a90.84,90.84,0,0,0,13.71-27.76c12-3.73,14.92-25.25,14.92-25.25,5.17-23.53-10-26.4-10-26.4s12.34-42.17-12.34-63.41S262.3,75.89,262.3,75.89c-59.11,10-40.17,75.74-40.17,75.74-8.61.58-9.76,10.33-9.76,10.33-1,10.23-.39,18,1.07,23.88A49.72,49.72,0,0,1,216.48,194Z"/></svg>
                        <h4>Client</h4>
                        <p>Choose a comfortable home for you and your family from some of the best agents near you.</p>
                </div>
            </a>

            <a href="/signupagent" class="agent-link">
                <div class="agent-log">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600"><path d="M189.45,175.68s-12.82-.92-11.18,23.73,7.67,47,31.11,71.79c0,0,10.25,39.94,28.2,54.15,0,0-38.16,25.32-103.09,50L106,389.18S66.3,407.22,47.07,482l-7.29,34.29s-7.33,19.87,15.67,28.76,143.36,30.3,285.06,27.9c0,0,117.16-4.26,203.52-27.11,0,0,17-5.38,17.3-21.34,0,0-4.13-74.74-46.71-119,0,0-13.28-16.31-58.11-32.91a936.6,936.6,0,0,1-93.19-46.42,131,131,0,0,0,26.7-53S426.9,240,420.49,183.93c0,0-4.15-11.86-10.55-6.39V117.88S404.11,25,300,26.87c0,0-93.72-3.43-107.79,83.05Z"/></svg>
                    <h4>Agent</h4>
                    <p>Become an agent and have access to thousands of home seekers in your location.</p>

                </div>
            </a>
        </div>
        <p>Already have an account? <a href="/signin">Sign In</a></p>
    </div>
    
</body>
</html>