<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Re-Side| Sign In</title>
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <% if (error_msg) { %>
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <%= error_msg %>
            </div>
        <% } %>
        <ul class="background">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="form-container">
            <div class="log-img">
                <img src="/assets/log.jpg" alt="">
            </div>
            <div class="center">
                <div class="logo">
                    <img src="/assets/logo.png" alt="">
                </div>
                <h1>Sign In</h1>

                <form action="/signin" method="POST">
                    <div class="txt_field">
                        <input type="email" name="email" required>
                        <span></span>
                        <label for="">Email</label>
                    </div>
                    <div class="txt_field">
                        <input type="password" name="password" required>
                        <span></span>
                        <label for="">Password</label>
                    </div>

                    <% if (errorMessage) { %>
                        <p style="color: red;"><%= errorMessage %></p>
                    <% } %>

                    <button type="submit">Sign In</button>

                    <div class="signup_link">
                        Don't have an account? <a href="/selectlog">Sign Up</a>
                    </div>
                </form>
            </div>
        </div>
        <script src="/javascript/script.js"></script>
    </body>
</html>