<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Re-Side | Sign Up</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/loginMediaquery.css">
</head>
<body>
    <div class="form-container-reg">

        <div class="reg-img typewriter">
            <h1>Welcome!</h1>
            <img src="/assets/reg.jpg" alt="">
        </div>

        <div class="center register">
            <div class="logo">
                <img src="/assets/logo.png" alt="">
            </div>
            
            <h1>Register</h1>
            <form action="/signup" method="POST">
                <div class="txt_field">
                    <input type="text" name="firstName" required>
                    <span></span>
                    <label for="">First Name</label>
                </div>

                <div class="txt_field">
                    <input type="text" name="lastName" required>
                    <span></span>
                    <label for="">Last Name</label>
                </div>
                
                <div class="txt_field">
                    <input type="email" name="email" required>
                    <span></span>
                    <label for="">Email</label>
                </div>

                <div class="txt_field">
                    <input type="text" name="role" id="role" value="<%= defaultRole %>" readonly>
                    <span></span>
                    <label for="">Role</label>
                </div>

                <div class="txt_field">
                    <input type="password" id="password" name="password" required>
                    <span></span>
                    <label for="">Password</label>
                </div>

                <input type="checkbox" name="termsAgreement" required> I agree to the <a href="/terms">Terms of Service</a> and <a href="/privacy">Privacy Policy</a><br><br>
                <input type="checkbox" name="newsletterSubscription"> Subscribe to newsletter<br>
                <!-- Add CAPTCHA or Anti-Spam Measures here -->
                <button type="submit" class="register-btn">Register</button>

                <div class="signup_link">
                    Already have an account? <a href="/signin"><u>Sign In</u></a>
                </div>
            </form>
        </div>

    </div>

    <script>
        // Focus on the role input field when the page loads
        window.onload = function() {
            document.getElementById('role').focus();
        };
    </script>
</body>
</html>