@media screen and (max-width: 1200px) {
    body {
        width: 100%;
        flex-wrap: wrap;
    }

    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    nav .links {
        flex-direction: column;
        background: white;
    }

    /* Display Section */
    .display-1 .show .ellipse-9 {
        display: none;
    }

    .display-1 .show .head-1 {
        font-size: .9rem;
    }

    .display-1 .show h1 {
        font-size: 2.3rem;
        max-width: 390px;
    }

    .display-1 .show h4 {
        max-width: 340px;
        font-size: .7rem;
        line-height: 1.625;
    }

    /* Slideshow */
    .display-1 .show .slideshow-container {
        width: 340px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .swiper {
        width: 340px;
        height: 270px;
    }

    .swiper-wrapper {
        margin-bottom: 30px;
    }

    /* Search Form */
    .display-1 .search {
        right: 5%;
        top: 69%;
    }

    .display-1 .search .form-container {
        width: 340px;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1)
    }
    
    .display-1 .search .form-container h2 {
        font-size: 1rem;
    }

    .display-1 .search .form-container form {
        padding-bottom: 50px;
    }
    
    .display-1 .search .form-container input, select {
        font-size: .8rem;
        width: 300px;
        height: 50px;
    }
    
    .display-1 .search .form-container .type {
        font-size: .8rem;
    }
    
    .display-1 .search .form-container .rooms {
        font-size: .8rem;
    }
    
    .display-1 .search .form-container button {
        width: 300px;
        font-size: 1rem;
    }
    
    .display-1 .search .form-container button img {
        width: 15px;
        height: 15px;
    }

    /* Trustees Section */
    .main-container .trustees {
        margin-top: 350px;
    }
    
    .trustees-ball {
        display: none;
    }
    
    .trustees .trustees-logo {
        overflow: scroll;
        padding-left: 20px;
    }
    
    .trustees .trustees-logo img {
        width: 110px;
    }

    .customers,
    .testimonials, 
    .waw,
    .latest,
    .services,
    .locations,
    .team,
    .blog,
    .agent,
    footer {
        display: none;
    }
}