@media screen and (max-width: 1200px) {
    body {
        width: 100%;
        flex-wrap: wrap;
    }

    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    nav .links {
        flex-direction: column;
        background: white;
    }

    /* Display Section */
    .display-1 .show .ellipse-9 {
        display: none;
    }

    .display-1 .show .head-1 {
        font-size: .9rem;
    }

    .display-1 .show h1 {
        font-size: 2.3rem;
        max-width: 390px;
    }

    .display-1 .show h4 {
        max-width: 340px;
        font-size: .7rem;
        line-height: 1.625;
    }

    /* Slideshow */
    .display-1 .show .slideshow-container {
        width: 340px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .swiper {
        width: 340px;
        height: 270px;
    }

    .swiper-wrapper {
        margin-bottom: 30px;
    }

    /* Search Form */
    .display-1 .search {
        right: 5%;
        top: 69%;
    }

    .display-1 .search .form-container {
        width: 340px;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1)
    }
    
    .display-1 .search .form-container h2 {
        font-size: 1rem;
    }

    .display-1 .search .form-container form {
        padding-bottom: 50px;
    }
    
    .display-1 .search .form-container input, select {
        font-size: .8rem;
        width: 300px;
        height: 50px;
    }
    
    .display-1 .search .form-container .type {
        font-size: .8rem;
    }
    
    .display-1 .search .form-container .rooms {
        font-size: .8rem;
    }
    
    .display-1 .search .form-container button {
        width: 300px;
        font-size: 1rem;
    }
    
    .display-1 .search .form-container button img {
        width: 15px;
        height: 15px;
    }

    /* Trustees Section */
    .main-container .trustees {
        margin-top: 350px;
    }
    
    .trustees-ball {
        display: none;
    }
    
    .trustees .trustees-logo {
        overflow: scroll;
        scrollbar-color: #4361ee #fff;
        scrollbar-width: thin;
        padding-left: 20px;
    }
    
    .trustees .trustees-logo img {
        width: 110px;
    }

    /* What are we */
    .waw {
        margin-top: -10px;
        flex-direction: column;
        gap: 20px;
    }

    .info-write h4 {
        font-size: 1rem;
        color: #4361ee;
    }

    .info-write h2 {
        margin-bottom: 1.1rem;
        width: 333px;
        font-size: 1.48rem;
        line-height: 1.665;
    }

    .info-write p {
        font-size: .8rem;
    }

    .info-cons img {
        width: 30px;
    }

    .info-cons .head {
        font-size: .9rem;
    }

    .info-cons .waw-texts {
        font-size: .7rem;
    }

    .info-images {
        display: flex;
        position: relative;
        left: -25%;
    }

    .info-images .rect-big {
        width: 170px;
        height: 225px;
    }

    .info-images .square {
        width: 170px;
        height: 170px;
        top: 15%;
    }

    .info-images .rect-small {
        width: 170px;
        height: 140px;
        top: 65%;
    }

    .ellipse-11-7v3 {
        left: 127%;
        top: 98%;
    }

    /* Latest Properties */
    .latest {
        margin-top: 260px;
    }

    .latest .headings {
        gap: 50px;
        flex-direction: column;
    }

    .latest .headings .lastest-write h4 {
        font-size: .9rem;
    }

    .latest .headings .lastest-write h2 {
        font-size: 2rem;
    }

    .latest .headings .lastest-write p {
        margin-bottom: 1rem;
        font-size: .8rem;
    }

    .latest .headings .btns button {
        font-size: 1rem;
    }

    .house-listings .list .main-img {
        width: 250px;
        height: 250px;
    }

    .house-listings .list .price {
        font-size: 1.3rem;
        gap: 40px;
    }

    .house-listings .list .name {
        font-size: 1rem;
    }

    .house-listings .list .address {
        font-size: 0.9rem;
    }

    .house-listings .list .beds-bath span {
        font-size: .8rem;
    }

    /* Our Services */
    .services {
        margin-top: 100px;
    }

    .services .service-head p {
        font-size: .9rem;
    }

    .services .service-head h2 {
        font-size: 1.28rem;
        white-space: wrap;
        text-align: center;
    }

    .services .service-body {
        flex-direction: column;
    }

    .services .service-body .sbody {
        width: 320px;
    }

    .services .service-body .sbody .service-icon-bg {
        width: 45px;
        height: 45px;
    }

    .services .service-body .sbody img {
        width: 20px;
    }

    .services .service-body .sbody .title {
        font-size: 1rem;
    }

    .services .service-body .sbody .content {
        font-size: .8rem;
    }

    .customers,
    .testimonials,
    .locations,
    .team,
    .blog,
    .agent,
    footer {
        display: none;
    }
}