@media screen and (max-width: 1200px) {
    .form-container .log-img img {
        display: none;
    }

    .form-container {
        display: block;
        max-width: 90%;
    }

    .center {
        padding-bottom: 40px;
    }

    .center h1 {
        font-size: 1.5rem;
    }

    .alert {
        right: 8%;
        font-size: .9rem;
    }

    /* Registraton form */
    .register {
        width: 100%;
    }

    .form-container-reg .reg-img,
    .typewriter h1 {
        display: none;
    }
}