/* Login Page */
body {
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", monospace;
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* Background Animation */
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%; 
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #4e54c8;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}


.background li:nth-child(0) {
    left: 35%;
    width: 207px;
    height: 207px;
    bottom: -207px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 38%;
    width: 219px;
    height: 219px;
    bottom: -219px;
    animation-delay: 4s;
}
.background li:nth-child(2) {
    left: 87%;
    width: 222px;
    height: 222px;
    bottom: -222px;
    animation-delay: 2s;
}
.background li:nth-child(3) {
    left: 61%;
    width: 135px;
    height: 135px;
    bottom: -135px;
    animation-delay: 12s;
}
.background li:nth-child(4) {
    left: 6%;
    width: 176px;
    height: 176px;
    bottom: -176px;
    animation-delay: 6s;
}
.background li:nth-child(5) {
    left: 1%;
    width: 108px;
    height: 108px;
    bottom: -108px;
    animation-delay: 14s;
}
.background li:nth-child(6) {
    left: 40%;
    width: 118px;
    height: 118px;
    bottom: -118px;
    animation-delay: 21s;
}
.background li:nth-child(7) {
    left: 55%;
    width: 175px;
    height: 175px;
    bottom: -175px;
    animation-delay: 3s;
}
.background li:nth-child(8) {
    left: 45%;
    width: 105px;
    height: 105px;
    bottom: -105px;
    animation-delay: 3s;
}
.background li:nth-child(9) {
    left: 84%;
    width: 160px;
    height: 160px;
    bottom: -160px;
    animation-delay: 1s;
}
.background li:nth-child(10) {
    left: 59%;
    width: 222px;
    height: 222px;
    bottom: -222px;
    animation-delay: 24s;
}
.background li:nth-child(11) {
    left: 18%;
    width: 113px;
    height: 113px;
    bottom: -113px;
    animation-delay: 28s;
}
.background li:nth-child(12) {
    left: 72%;
    width: 151px;
    height: 151px;
    bottom: -151px;
    animation-delay: 50s;
}
.background li:nth-child(13) {
    left: 76%;
    width: 172px;
    height: 172px;
    bottom: -172px;
    animation-delay: 24s;
}
.background li:nth-child(14) {
    left: 1%;
    width: 122px;
    height: 122px;
    bottom: -122px;
    animation-delay: 59s;
}
.background li:nth-child(15) {
    left: 29%;
    width: 165px;
    height: 165px;
    bottom: -165px;
    animation-delay: 9s;
}

/* Form section */
.form-container {
    background: #fff;
    position: relative;
    display: flex;
    gap: 50px;
    max-width: 70%;
    align-items: center;
    margin: 120px auto;
    border-radius: 50px;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.1), 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.form-container .log-img img {
    width: 450px;
    margin-left: 20px;
}

.center .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center .logo  img {
    width: 80px;
}

.center {
    background: transparent;
    padding-top: 50px;
}

.center h1 {
    text-align: center;
    padding: 0 0 5px 0;
    border-bottom: 1px solid silver;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #3a0ca3;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
    top: -5px;
    color: #3a0ca3;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
    width: 100%;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover {
    text-decoration: underline;
}

button[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #3a0ca3;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

button[type="submit"]:hover {
    border-color: #3a0ca3;
    transition: .5s;
}

.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a {
    color: #3a0ca3;
    text-decoration: none;
}

.signup_link a:hover{
    text-decoration: underline;
}

.error {
    color: red;
    margin-bottom: 20px;
}

/* Registration Page */
.form-container-reg {
    display: flex;
    
}

.form-container-reg .reg-img {
    position: fixed;
    text-align: center;
    background: white;
}

.form-container-reg .reg-img h1 {
    position: absolute;
    top: 8%;
    left: 35%;
    font-size: 2.5rem;
    color: #4361ee;
}

.form-container-reg .reg-img img {
    width: 800px;
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #3a0ca3; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 1.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 30% }
}

  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #3a0ca3; }
}

.form-container-reg .register {
    width: 500px;
    position: absolute;
    right: 7%;
}

/* file upload button */
input[type="file"] {
    position: relative;
    margin-left: 2px;
    padding: 4px;
    font-size: 1.1rem;
}

input[type="file"]:focus-within::file-selector-button,
input[type="file"]:focus::file-selector-button {
    outline: 2px solid #0964b0;
    outline-offset: 2px;
}

input[type="file"]::file-selector-button {
    width: 136px;
    color: transparent;
}

/* Faked label styles and icon */
input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    top: 10px;
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    top: 11px;
    left: 40px;
    color: #0964b0;
    content: "Upload File";
}

input[type="file"]::file-selector-button {
    font-size: 1rem;
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    margin-bottom: 20px;
    transition: background-color 200ms;
}

input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
}

input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}

.error-message {
    color: red;
}

.register-btn {
    margin-top: 20px;
}

select {
    width: 100%;
    height: 3em;
    border: none;
    font-size: 1rem;
    outline: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: #0964b0;
}


/* Select Log Section */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .writeup-log {
    margin-bottom: 20px;
}

.container .writeup-log h1 {
    font-size: 1.6rem;
}

.container .writeup-log p {
    font-size: .8rem;
    color: #666666;
    word-spacing: -1px;
}

.container .logo img {
    width: 150px;
    margin-bottom: 20px;
}

.container .select-log {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container .select-log svg {
    width: 40px;
    height: 40px;
}

.container .select-log h4 {
    font-size: 1rem;
    color: black;
}

.container .select-log p {
    font-size: .8rem;
    color: #666666;
}

.container .select-log a:hover {
    border: solid 1px #3a0ca3;
    transition: 3s ease-in-out;
    border-radius: 20px;
}

.agent-link:hover svg path, .client-link:hover svg path {
    fill: #3a0ca3;
}

.container .select-log a {
    border-radius: 20px;
}

.container .select-log div {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px 15px;
}

.container .select-log {
    margin-bottom: 20px;
}

/* Sign In alert message */
.alert {
    padding: 20px;
    background-color: transparent;
    color: red;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    position: absolute;
    right: 20%;
    z-index: 1;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}